.category-selector {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
}

.cat-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.cat-header h3{
    font-weight: 500;
    font-size: 16px;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.back-btn:hover{
  background: #f9f9f9;
}
.cat-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cat-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.cat-list li:hover {
  background: #f9f9f9;
}

.cat-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.arrow-right {
  color: #888;
}

.attributes {
  margin-top: 1rem;
}

.attr-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attr-item {
  display: flex;
  flex-direction: column;
}

.attr-item input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.attr-item input:focus {
  border-color: #000;
}
