/* Overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup container */
.popup {
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 30px 30px;
  width: 580px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}

/* Heading */
.popup h2 {
  font-size: 24px;
  margin-bottom: 36px;
  color: #111;
  font-weight: 600;
}

/* Description */
.popup p {
  font-size: 16px;
  text-align: left;
  color: #555;
  margin-bottom: 30px;
}

/* Buttons container */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Cancel button */
button.cancel {
  background: #fff;
  border: 1px solid #000;
  padding: 8px 48px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
}

/* Confirm button */
button.confirm {
  background: #000;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
}

/* Hover effects */
button.cancel:hover {
  background: #f5f5f5;
}

button.confirm:hover {
  background: #222;
}
