.footer {
  background-color: #111;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 0px 60px 40px;
}

.footer-section {
    flex: 1 1 300px;
  margin: 10px;
}

.email-section p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 300px;
  color: #ccc;
}

.email-input {
  display: flex;
  max-width: 300px;
}

.email-input input {
  flex: 1;
  padding: 18px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.email-input button {
  background-color: white;
  border: none;
  color: #111;
  border-radius: 0 4px 4px 0;
  padding: 0 15px;
  cursor: pointer;
  font-size: 18px;
}

.links-section h4 {
  margin-bottom: 14px;
  font-size: 1.3rem;
  font-weight: 550;

}

.links-section ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.links-section li {
    color: #ccc;
  margin-bottom: 14px;
  cursor: pointer;
}
.links-section li:hover{
    color: aliceblue;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 10px 0px 20px;
  }
  .footer-section{
    flex: 1 1 150px;
  }

  .email-input {
    width: 100%;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }
}
