/* --- Overlay --- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* --- Modal Box --- */
.modal-container {
  background: #fff;
  width: 400px;
  padding-top: 20px;
  border-radius: 16px;
  padding: 50px 20px 20px 20px;
  position: relative;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 22px;
  color: #666;
  cursor: pointer;
}

.modal-close:hover {
  color: #000;
}

/* Title */
.modal-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Buttons */
.auth-btn {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.auth-btn:hover {
  background: #f8f8f8;
}

.auth-btn img,
.auth-btn svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Footer links */
.modal-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: #666;
}
.modal-footer p {
    margin-bottom: 10px;
}
.modal-footer a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.modal-footer a:hover {
  text-decoration: underline;
}


.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.modal-note {
  font-size: 12px;
  color: #777;
  margin-bottom: 30px;
}

.checkbox-label {
  display: block;
  font-size: 16px;
  margin: 16px 0;
}

.modal-submit {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.modal-footer-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

