.manage-container {
  color: #111;
}

.manage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manage-header h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.request-btn {
  background: #111;
  color: #fff;
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.manage-desc {
  font-size: 13px;
  color: #555;
  margin-top: 4px;
}

.learn-more {
  text-decoration: underline;
  cursor: pointer;
}

.manage-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 18px;
  margin-top: 24px;
  display: flex;
  gap: 14px;
  align-items: flex-start;
}

.manage-icon {
  color: #000;
  margin-top: 5px;
}

.manage-card h4 {
  font-size: 15px;
  margin-bottom: 6px;
}

.manage-card p {
  font-size: 13px;
  color: #555;
  margin: 0;
}

.contact span {
  text-decoration: underline;
  cursor: pointer;
}
