.personalization-container {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

/* Sidebar */
.sidebar {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #eaeaea;
  padding: 20px;
  margin-top: 15px;

}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #000;
  color: #fff;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 50px 60px;
}

.main-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #000;
}

.main-content p {
  color: #6b7280;
  font-size: 13px;
  margin-bottom: 30px;
}

/* Category List */
.category-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 4px;
  transition: background-color 0.3s;
}

.category-item:hover {
  background-color: #f9f9f9;
}

.icon-box {
  width: 50px;
  height: 50px;
  background-color: #f0f2f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  flex: 1;
  font-size: 18px;
  margin-left: 12px;
}

.category-name {
  font-weight: 600;
  color: #111;
  display: block;
}

.category-sub {
  font-size: 14px;
  color: #6b7280;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
